:root{
  --main-bg: #1e1e1e;
  --sidebar-text-color: #cccccc;
  --sidebar-icon-color: #868686;
  --sidebar-icon-active-color: #d7d7d7;
  --thumb-color: #ffffff68;
  --vscode-blue: #0078d4;
  --border-color: #2b2b2b;
}


.ps__rail-y, .ps__thumb-y, .ps__thumb-y:hover {
  width: 12px;
  border-radius: 0px !important;
  background-color: #ffffff68 !important;
  scale: 1 !important;
}

.ps__rail-y , .ps__rail-y:hover {
  background-color: transparent !important;
  scale: 1 !important;
}

.ps__thumb-y {
  background-color: #ffffff68;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--main-bg) !important;  
  font-family: "system-ui", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
;
}

.wrapper-component {
  display: grid;
  grid-template-rows: 35px 1fr 20px;
  height: 100vh;
  overflow: hidden
}

.wrapper-component > .header-section {
  -webkit-app-region: drag;
  border-bottom: .3px solid var(--border-color);
}

.wrapper-component > .footer-section {
  border-top: .3px solid var(--border-color);
}

.wrapper-component > div:nth-child(2) {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-template-columns: 215px 1fr;
  overflow: hidden;
}

.wrapper-component > div:nth-child(2) .sidebar-section {
  grid-area: sidebar;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  border-right: .3px solid var(--border-color);
}

.wrapper-component > div:nth-child(2) .sidebar-section > div {
  height: 100%;
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: .3px solid var(--border-color);
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0px;
  cursor: pointer;
}


.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon.active::after {
  position: absolute;
  content: " ";
  left: 0px;
  top: 0px;
  height: 100%;
  width: 2px;
  background-color: var(--vscode-blue);
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon .tooltip {
  position: absolute;
  left: 100%;
  font-size: 80%;
  border: 1px solid rgb(92, 92, 92);
  background-color: var(--main-bg);
  width: auto;
  text-wrap: nowrap;
  color: var(--sidebar-text-color);
  padding: 3px 6px;
  border-radius: 3px;
  display: none;
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon svg {
  width: 25px !important;
  height: 25px !important;
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon svg path{
  fill: var(--sidebar-icon-color)
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon.active svg path{
  fill: var(--sidebar-icon-active-color)
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon:hover svg path{
  fill: var(--sidebar-icon-active-color)
}

.wrapper-component > div:nth-child(2) .sidebar-section > .icon-list .icon:hover .tooltip{
  display: flex;
}

.wrapper-component > div:nth-child(2) .sidebar-section > .explorer-list {
  flex-grow: 1;
}

.wrapper-component > div:nth-child(2) .content-section {
  grid-area: content;
  overflow: hidden;
}
